{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
            {% for key, value in stocks.items() %}
                <option value={{ key }}> {{ key }} ({{ value }})</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}